@import "tailwindcss";
@import "@nuxt/ui";

/* Table Styles */
table {
  @apply w-full border-collapse;
}

th {
  @apply bg-gray-100 text-left p-4 font-medium text-gray-700;
}

td {
  @apply p-4 text-gray-600;
}

tr:nth-child(even) {
  @apply bg-gray-50;
}

/* Status Colors */
.completed {
  @apply text-green-600;
}

.inprogress {
  @apply text-orange-500;
}

.not-started {
  @apply text-gray-500;
}

/* Table Header */
.table-header {
  @apply bg-gray-100 text-left p-4 font-medium text-gray-700 border-b border-gray-200;
}

/* Table Cell */
.table-cell {
  @apply p-4 text-gray-600 border-b border-gray-200;
}


.experiment-details-table table thead tr td {
  vertical-align: top !important;
}

.experiment-details-table > table > tbody > tr  > td {
  vertical-align: top !important;
}
.experiment-details-table > table > tbody > tr  > td {
  vertical-align: top !important;
}

.experiment-details-tabs div button[data-state]:not([data-state='active']) {
  border : 1px solid lightgray;
  cursor: pointer;
  margin:2px;
}


div.divide-y.divide-\[var\(--ui-border\)\].scroll-py-1 div[role='group'] {
  max-height: 150px;
  overflow-y:scroll;
}
